@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background-color: black;
}
.antonio {
  font-family: "Antonio", sans-serif;
}
.reem-kufi {
  font-family: "Reem Kufi", sans-serif;
}
.anton{
  font-family: "Anton", sans-serif;
}
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
}

